.page {
  
  &__default {
    width: 100%;
    height: 100vh;
    background-color: #f6f1ef;
    display: flex;
    flex-flow: row;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__content {
    width: -webkit-fill-available;
    padding: 0px 8%;
  }

  &__miraculous {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 1000px) { 
    &__default {
      flex-flow: column;
      justify-content: space-between;
    }

    &__content { 
      height: -webkit-fill-available;
    }

    &__miraculous { 
      width: 100%;
    }
    
  }
}
