<!DOCTYPE html>
<html>
  <head>
    <!-- Declare page caractere encoding. -->
    <meta charset="UTF-8">
    
    <!-- Force IE to show page in edge version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- To show page width with divice resolution and initial zoom. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Gem to create SEO metatags. (Remove) -->
    {%- seo -%}
    
    <!-- Using tamplate to get compiled CSS stylesheet. -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/layout/favicon.ico">
  </head>
  
  <body>
    <div class="page__default">
      <div class="page__miraculous">
        <ul class="miraculous__list">
          <li class="miraculous__list-item" style="display:none">
            <a href="https://tunnes.github.io/docs/curriculo.pdf">  
              Projetos
            </a>
          </li>
          <li class="miraculous__list-item">
            <a href="https://linkedin.com/in/tunnes">
              Linkedin
            </a>
          </li>          
          <li class="miraculous__list-item">
            <a href="https://tunnes.github.io/docs/curriculo.pdf">  
              Currículo
            </a>
          </li>
          <li class="miraculous__list-item">
            <a href="https://github.com/tunnes">
              Github
            </a>
          </li>   
          <li class="miraculous__list-item">
            <a href="/blog">
              Blog
            </a>
          </li>
        </ul>
      </div>      
      <div class="page__content">
        {{ content }}
      </div>
    </div>
  </body>
</html>