---
layout: default
---

<div class="home-page">
  <div class="home-page__info-text">
    <h1 class="home-page__info-text__title">
      <img src="/assets/img/layout/person.svg" alt="an image.">
      <div>
        <span class="home-page__info-text__name">AYRTON FELIPE</span>
        <span class="home-page__info-text__nick">TUNNES</span>
      </div>
    </h1>
    <p class="home-page__info-text__subtitle">
      Bem vindo ao meu amontoado de memórias sobre desenvolvimento web em geral que
      resolvi disponibilizar por necessidade de consultas e registros pessoais de tópicos que estudo.
      Irei registrar aqui algumas publicações sobre JavaScript, Ruby, programação funcional e outras coisinhas bacanas
      que utilizo ou já utilizei, sintam-se a vontade para levantar críticas e sugestões.
    </p>
  </div>
  <div class="home-page__info-image">
    <img src="/assets/img/layout/person.svg" alt="My wonder self draw (Ugly and monochromatic but adorable draw of my face).">
  </div>
</div>
